<div layout="row" layout-padding>
    <div layout="column" class="max-width">
        <md-card ng-repeat="event in eventsList">
            <img ng-src="{{event.img}}" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <h2 class="md-title">{{event.name}}</h2>
                <p>
                    <small><em>{{event.date}}</em></small>
                </p>
                <p>
                    {{event.desc}}
                </p>
                <p>
                    <strong>{{event.address}}</strong>
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary">Add to Calendar</md-button>
                <md-button class="md-primary" ng-href="/map">On the Map</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
