.title {
	font-family: 'Leckerli One';
}

.max-width {
	max-width: 864px;
}

.sidenav-btn {
	text-align: left;
}

.event-loc {
	font-weight: 600;
}

.nav-header > img {
	padding: 30px 0;
}

md-divider.wide {
	margin: 10px 0;
}